.container{
    background-color: #FFEDCA;
    width: 100%;
    height: 550px;
}

.image{
    float: left;
    margin-top: 20px;
}

.content{
    float:left;
    margin-left: 50px;
    margin-top: 20px;
    width: 500px;
    height: 500px;
}

.title{
    color: #CC6600;
    padding: 0;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}